*,
body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  user-select: none;
}

@import url('https://fonts.googleapis.com/css2?family=Quicksand&display=swap');

body {
  width: 100vw;
  height: 100vh;
  background-color: lightgrey;
  font-family: 'Quicksand', sans-serif;
  position: relative;
}

// .blur {
//   background-color: white;
//   opacity: 0.8;
//   width: 100vw;
//   height: 100vh;
//   position: absolute;

// }

.activity-container {
  position: absolute;
  background-color: #ffffff;
  width: 700px;
  min-height: 600px;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  //  border-radius: 8px;
  // padding: 20px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);

  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);

  &:hover {
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);

    transform: translate(-50%, -51%);
  }

  &.modal-open {
    filter: blur(5px) grayscale(50%);
  }

  .header-text {
    background-color: black;
    color: white;
    // border-radius: 8px;
    padding: 10px 0;
    margin: 0 0 10px 0;
    position: relative;
    .btn-add {
      position: absolute;
      right: 20px;
      top: 50%;
      transform: translateY(-50%);
      font-weight: bold;
      border: 2px solid #ffffff;
      padding: 5px 10px;
      border-radius: 8px;
      .fa-plus-square {
        margin-right: 10px;
      }
    }
  }
}

.card {
  min-height: 600px;
}

.activity-card {
  display: flex;
  flex-direction: row;
  text-align: left;
  margin: 10px 0;
  width: 100%;
  // max-height: 100px;
  // border-radius: 8px;
  // height: 100px;
  background-color: #ffffff;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);

  transform: translateY(0px);

  &.first {
    transform: translateY(0px);
  }
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);

  &:hover {
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);

    transform: translateY(-3px);
  }
}

.card-text {
  padding: 10px;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  width: 50%;
  .activity-name {
    font-size: 18px;
    margin-bottom: 10px;
    width: fit-content;
  }
  .date {
    padding: 5px 10px;
    border-radius: 5px;
    font-weight: 500;
    background-color: black;
    color: white;
    width: fit-content;
  }
}
.card-tools {
  background-color: black;
  width: 50%;
  padding: 10px;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  flex-grow: 1;
  align-items: center;
  .fa-circle,
  .fa-check-circle {
    font-size: 50px;
    color: white;
  }

  button {
    border: none;
    padding: 5px 10px;
    font-size: 20px;
    border-radius: 8px;
    background-color: white;
    color: black;
    outline: none;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);

    transform: translateY(0px);
    transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);

    &:hover {
      box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);

      transform: translateY(-3px);
    }
  }
}

.footer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 10px;
  .page {
    // border: 2px solid black;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 24px;
    font-weight: bold;
    // padding: 5px 10px;
    // border-radius: 8px;
    margin: 0 20px;
    height: 40px;
    width: 80px;

    transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);

    transform: translateY(-3px);
    &:hover {
      box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);

      transform: translateY(0px);
    }
  }

  .fa-chevron-left,
  .fa-chevron-right {
    // border: 2px solid black;
    // padding: 5px 10px;

    cursor: pointer;
    height: 40px;
    width: 40px;
    transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);

    transform: translateY(-3px);
    &:active {
      box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);

      transform: translateY(0px);
    }
  }
}

.modal-container {
  width: 400px;
  // height: 600px;
  position: absolute;
  left: 50%;
  top: 50%;
  background-color: white;
  transform: translate(-50%, -50%);
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
  visibility: hidden;
  transition: all 0.1s cubic-bezier(0.25, 0.8, 0.25, 1);
  &.-open {
    visibility: visible;
  }
}

.modal-header {
  background-color: black;
  color: white;
  font-size: 20px;
  font-weight: bold;
  padding: 15px 0;
  position: relative;
  .fa-times {
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
    font-size: 24px;
  }
}
.modal-content {
  // padding: 20px 20px;
  .input {
    position: relative;
    margin: 20px;
    // margin-bottom: 20px;
    label {
      position: absolute;
      background-color: white;
      padding: 0px 0px;
      // border: 2px solid black;
      border-radius: 8px;
      font-weight: bold;
      top: -15px;
      left: 10px;
      font-size: 20px;
    }
    input {
      width: 100%;
      font-size: 18px;
      padding: 10px;
      border: 2px solid black;
      &::placeholder {
        font-size: 14px;
        font-family: 'Quicksand', sans-serif;
        font-weight: bold;
      }
    }
    textarea {
      min-width: 100%;
      width: 100%;
      font-style: 18px;
      padding: 10px;
      border: 2px solid black;
      &::placeholder {
        font-size: 14px;
        font-family: 'Quicksand', sans-serif;
        font-weight: bold;
      }
    }
  }
}
.modal-footer {
  display: flex;
  padding: 20px 0;
  justify-content: center;
  border: 2px solid black;
  border-right: 0;
  border-left: 0;
  border-bottom: 0;
  button {
    margin: 0 5px;
    outline: none;
    border: none;
    font-size: 16px;

    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
  }
  .btn-cancel,
  .btn-confirm {
    padding: 10px 15px;
    font-weight: bold;
  }
  .btn-confirm {
    background-color: black;
    color: white;
  }
}
